html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.main {
  height: 100vh;
  width: 100vw;
}

.component {
  padding: 10px;
}

.setup-component {
  display: flex;
  justify-content: center;
}

.layout-selector {
  margin: 5px;
  width: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.metric-selector {
  margin: 5px;
  width: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dark-mode {
  color: #FFFDD0;
  background-color: #000000;
}

.light-mode {
  color: #000000;
  background-color: #FFFFFF;
}

.weather-widgets {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 800px) {
  .weather-widgets {
    flex-direction: column;
    align-items: center;
  }
}

.weather-component {
  margin: 5px;
  width: 320px;
}

.user-location-component {
  margin: 5px;
  width: 320px;
}

.current-temp {
  display: flex;
  align-items: center;
}

#thermometer-img {
  margin-right: 10px;
  width: 50px;
}

#day-night-img {
  margin-right: 10px;
  width: 50px;
}

table {
  margin-bottom: 0px !important;
  white-space:nowrap;
}
